body{
    width: 900px;
    margin: auto;
    margin-top: 20px;
}

input{
    width: 100px;
    height: 100px;
}

#game{
    display: flex;
    gap: 20px;
}

#l,#l2{
    display: flex;
    flex-flow: column wrap;
}

#field{
    text-align: center;
}