html {
    touch-action: manipulation;
}

body {
    width: 900px;
    margin: auto;
    margin-top: 20px;
}

input {
    width: 100px;
    height: 100px;
    padding: 1px;
    font-size: 150%;
}

#game {
    display: flex;
    gap: 20px;
}

#l,
#l2 {
    display: flex;
    flex-flow: column wrap;
}

canvas#next {
    width: 270px;
    height: 150px;
    border: 3px solid rgb(85, 85, 85);
}

table#info {
    text-align: center;
}

canvas#field {
    border: 4px solid #555
}

/*操作説明の"キー"欄のレイアウト*/
#l2>table>tbody tr>td:nth-child(1) {
    text-align: center;
}

#field {
    text-align: center;
}