body{
    width: 700px;
    margin: auto;
    margin-top: 40px;
}

#game{
    display: flex;
    gap: 20px;
}

#l,#l2{
    display: flex;
    flex-flow: column wrap;
}

#field{
    text-align: center;
}